<tr *ngFor="let carga of cargas">
    <td class="mdl-data-table__cell--non-numeric "><p>{{carga.camion.nombre}}</p></td>
    <td class="mdl-data-table__cell--non-numeric"><p>{{carga.anden}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.llegadaRDC]!='' }"><p>{{carga.llegadaRDC | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.enrampe]!='' }"><p>{{carga.enrampe | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.empiezaCarga]!='' }"><p>{{carga.empiezaCarga | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric celdaPorcentaje">
        <div id="p1" class="mdl-progress mdl-js-progress"></div>
    </td>
    <td class="mdl-data-table__cell--non-numeric celdaPorcentaje">
        <div id="p1" class="mdl-progress mdl-js-progress"></div>
    </td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.empiezaCarga]!='' }"><p>{{carga.empiezaCarga | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.terminaCarga]!='' }"><p>{{carga.terminaCarga | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.initFacturacion]!='' }"><p>{{carga.initFacturacion | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.endFacturacion]!='' }"><p>{{carga.endFacturacion | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.salidaRDC]!='' }"><p>{{carga.salidaRDC | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.llegadaDeposito]!='' }" ><p>{{carga.llegadaDeposito | date:'HH:mm'}}</p></td>
    <td class="mdl-data-table__cell--non-numeric celdaEstado">
        <div [ngClass]="{'estadoFail' : true  }"></div>
    </td>
</tr>