<tr *ngFor="let k of cargas | keys">
        <td class="mdl-data-table__cell--non-numeric "><p>{{cargas[k].nombre}}</p></td>
        <td class="mdl-data-table__cell--non-numeric"><p>{{cargas[k].anden}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.llegadaRDC]!='' }"><p>{{cargas[k].llegadaRDC | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.enrampe]!='' }"><p>{{cargas[k].enrampe | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.empiezaCarga]!='' }"><p>{{cargas[k].empiezaCarga | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric celdaPorcentaje">
                <div class="barraProgreso" [ngStyle]="{'background' : '-webkit-linear-gradient(left, rgba(18, 117, 9, 0.486) '+ carga.porcentajes.full +'%, rgba(255,255,255,1) 0%)'}"><p><!-- {{carga.porcentajes.full}}% --></p></div>
        </td>
        <td class="mdl-data-table__cell--non-numeric celdaPorcentaje">
                <div class="barraProgreso" [ngStyle]="{'background' : ' -webkit-linear-gradient(left, rgba(18, 117, 9, 0.486) '+ carga.porcentajes.mix +'%, rgba(255,255,255,1) 0%)'}"><p><!-- {{carga.porcentajes.mix}}% --></p></div>
        </td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.terminaCarga]!='' }"><p>{{cargas[k].terminaCarga | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.initFacturacion]!='' }"><p>{{cargas[k].initFacturacion | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.endFacturacion]!='' }"><p>{{cargas[k].endFacturacion | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.salidaRDC]!='' }"><p>{{cargas[k].salidaRDC | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric" [ngClass]="{'etapaCompletada': [carga.llegadaDeposito]!='' }" ><p>{{cargas[k].llegadaDeposito | date:'HH:mm'}}</p></td>
        <td class="mdl-data-table__cell--non-numeric celdaEstado">
            <div [class.estadoFail]="getStatus(carga)"></div>
        </td>
    </tr>