td{
    text-align: center;
    border: 1px solid white;
/* font-weight: bold; */
    border-width: 1px 1px 0px 1px;
}
.no-border{
    border: 0;
}
.mdl-data-table td, td {
    padding: 0;
}

.active{
    background-color: rgb(113, 212, 111);
}

tr:nth-child(odd) .active{
    background-color: rgb(92, 187, 91);
}


tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

.ov{
    z-index: 35;
}