td{
    text-align: center;
    border-width: 1px 1px 0px 1px;
}
.no-border{
    border: 0;
}
.mdl-data-table td, td {
    padding: 0;
}

.waiting, .completed, .problem{
    animation: fadeCell 2s;
    transition: background-color .8s linear;
    border: 1px solid  #2c3034;
}

tr:nth-child(odd) .waiting, tr:nth-child(odd) .completed, tr:nth-child(odd) .problem{
    border: 1px solid  #424242;
}

.waiting{
    background-color: #867021;
}

tr:nth-child(odd) .waiting{
    background-color: #9e821b;
}
.completed{
    background-color: rgb(43, 97, 43);
}

tr:nth-child(odd) .completed{
    background-color: rgb(80, 132, 79);
}

.problem{
    background-color: #793737;
}

tr:nth-child(odd) .problem{
    background-color: #a95656;
}

tr:nth-child(odd) {
    background-color: #2c3034;
}
.no-border-r{
    border-right: 0;
}

@keyframes fadeCell{
    0% { opacity: 0; }
    100% { opacity: 1; }
}