<form>
  <div class="floating">
    <label>entry1</label>
    <input placeholder="entry1"  class="elements"/>
    <br>
    <label>entry sel</label>
    <select class="elements">
      <!-- el option se opuede generar con *ngFor -->
      <option value="qwerty">qwer</option>
      <option value="asd">asd</option>
      <option value="zxcv">zxcvb</option>
      
    </select>
    <br>
    <label>entry2</label>
    <input placeholder="entry2" class="elements"/>
    <br>
    <label>entry3</label>
    <input placeholder="entry3"  class="elements"/>
    
    
  </div>
  <div class="floating">
      <label>enrampe</label>
      <input placeholder="enrampe" class="elements"/>
      <br>
      <label>empieza carga</label>
      <input placeholder="empieza carga"  class="elements"/>
      <label>termina carga</label>
      <input placeholder="termina carga" class="elements"/>
      <br>
      <label>facturacion init</label>
      <input placeholder="facturacion"  class="elements"/>
      <label>facturacion end</label>
      <input placeholder="facturacion" class="elements"/>
  </div>
  <div class="floating">
      <label>salida RDC</label>
      <input placeholder="salida RDC"  class="elements"/>
      <label>llegada Deposito</label>
      <input placeholder="llegada Deposito" class="elements"/>
  </div>
</form>