<div class="container mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <form #newCarga="ngForm" (submit)="onSubmit()">
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="number" [(ngModel)]="modelCarga.id" name="identificadorCarga">
          <label class="mdl-textfield__label" for="identificadorCarga">id carga</label>
        </div>
        <div class="selectItem">
          <mat-form-field>
            <mat-select placeholder="camiones" [(ngModel)]="camionSelected" name="dropdown">
              <mat-option *ngFor="let camion of camiones" [value]="camion">
                {{ camion.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="horaLLegada" id="horaLLegada" [(ngModel)]="modelCarga.llegadaRDC" >
            <label class="mdl-textfield__label" for="horaLLegada">HH:mm:ss</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="andenInput" id="andenInput" [(ngModel)]="modelCarga.anden">
            <label class="mdl-textfield__label" for="andenInput">anden</label>
          </div>
        </div>
      </div>
      <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" style="width:40%">submit</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="reset" (click)="onReset()" style="width:15%">reset</button>
      </div>
    </form>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <update-carga></update-carga>
  </div>

</div>
<!-- pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9] -->