/*Colores*/
/* verde celdas: rgba(24, 194, 8, 0.473)
rojo status:  rgba(247, 40, 12, 0.637)
verde status: rgba(30, 240, 11, 0.637)
*/

body{
    position: relative;
    background-color: black;
    padding:10px 20px 5px 20px;
}
/*---Tabla---*/
.table td, .table th {
    padding: 0.5rem;
}

th.celdaCamion{
    width: 140px;
}
th.celdaPorcentaje{
    height: 20px;
    width: 110px;

}
td.celdaPorcentaje {
    padding: 0.5rem 0.2rem;
}
td.celdaPorcentaje div{
    display: flex;
}
td.celdaCamion p{
    font-weight:bold;
}

p.textoVisible{
    visibility: hidden;

}
div.barraProgreso{
    height: inherit;
    
}
.celdaEstado div{
    color:rgba(30, 240, 11, 0.637);
    width: 20px;
    height: 20px;
    margin: auto;

}
div.estadoFallo {
    color: rgba(247, 40, 12, 0.637);
}
td.etapaCompletada{
    background:rgba(24, 194, 8, 0.473);
}
td p, th p{
    margin:auto;
    text-align: center;
    font-weight: 600;
}
/*---NavBar---*/
.headerNav{
    display: block;
    width: 99%;
    height: 75px;
    top:0px;
    left:0px;
    margin: 0 0 40px 0;
    padding: 10px 5px 20px 5px;
    color:rgb(255, 255, 255);

}

div.reloj p{
    font-weight: 800;
    font-size: xx-large;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}
.headerNav img{
    display: inline-flex;
    margin: -10px 0 0 20px;
    width: 200px;
    height: 100px;
    float:left;
}
