.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: center;
}
.mdl-data-table tbody tr:hover{
    /* background-color: rgba(165, 201, 202, 1); */
}