<td class="mdl-data-table__cell--non-numeric">
  <p>{{carga.camion.nombre}} </p>
</td>
<!-- <span>{{carga.camion.id}} </span> -->
<td class="mdl-data-table__cell--non-numeric">
  <p>{{carga.anden}}</p>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.llegadaRDC)}">
  <p>{{carga.llegadaRDC | date:'HH:mm:ss'}} </p>
  <!-- <app-cell-content [cellValue]="carga.llegadaRDC | date:'mediumTime'" style="padding:0;margin:0;"></app-cell-content> -->
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.enrampe)}">
  <!-- <p>{{carga.enrampe | date:'mediumTime'}} </p> -->
  <app-cell-content #enrampe [cellValue]="carga.enrampe" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.empiezaCarga)}">
  <!-- <p>{{carga.empiezaCarga | date:'mediumTime'}} </p>  -->
  <app-cell-content #empiezaCarga [cellValue]="carga.empiezaCarga" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td style="width:100px" class="mdl-data-table__cell--non-numeric">
  <app-celda-porcentaje class="fullType" [currentProgress]="getFullValue()" (delayStage)="onDelayStage($event)"></app-celda-porcentaje>
</td>
<td class="mdl-data-table__cell--non-numeric">
  <app-celda-porcentaje  class="mixType" [currentProgress]="getMixValue()" (delayStage)="onDelayStage($event)"></app-celda-porcentaje>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.terminaCarga)}">
  <!-- <p>{{carga.terminaCarga | date:'mediumTime'}} </p> -->
  <app-cell-content #terminaCarga [cellValue]="carga.terminaCarga" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.initFacturacion)}">
  <!-- <p>{{carga.initFacturacion | date:'mediumTime'}} </p> -->
  <app-cell-content #initFacturacion [cellValue]="carga.initFacturacion" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.endFacturacion)}">
  <!-- <p>{{carga.endFacturacion | date:'mediumTime'}} </p> -->
  <app-cell-content #endFacturacion [cellValue]="carga.endFacturacion" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.salidaRDC)}">
  <!-- <p>{{carga.salidaRDC | date:'mediumTime'}} </p> -->
  <app-cell-content #salidaRDC [cellValue]="carga.salidaRDC" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.llegadaDeposito)}">
  <!-- <p>{{carga.llegadaDeposito | date:'mediumTime'}} </p>  -->
  <app-cell-content #llegadaDeposito [cellValue]="carga.llegadaDeposito" [inicio]="carga.llegadaRDC"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric celdaEstado">
  <app-estado #estado [status]="rowStatus"></app-estado>
</td>