<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <p>{{carga.camion.nombre}} </p>
</td>
<!-- <span>{{carga.camion.id}} </span> -->
<td class="anden mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <p>{{carga.anden}}</p>
</td>
<!-- {'completed':checkValue(carga.llegadaRDC)} -->
<td class="mdl-data-table__cell--non-numeric" [ngClass]="{'completed':checkValue(carga.llegadaRDC)}"> 
  <!-- <p class="static">{{carga.llegadaRDC | date:'HH:mm'}} </p> -->
  <app-cell-content [cellValue]="carga.llegadaRDC" [allow]="false"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.enrampe | date:'mediumTime'}} </p> -->
  <app-cell-content #enrampe [cellValue]="carga.enrampe" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.empiezaCarga | date:'mediumTime'}} </p>  -->
  <app-cell-content #empiezaCarga [cellValue]="carga.empiezaCarga" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="full mdl-data-table__cell--non-numeric" app-celda-porcentaje [currentProgress]="getFullValue()" (delayStage)="onDelayStage($event)" >
  <!-- <app-celda-porcentaje class="fullType" [currentProgress]="getFullValue()" (delayStage)="onDelayStage($event)"></app-celda-porcentaje> -->
</td>
<td class="mix mdl-data-table__cell--non-numeric" app-celda-porcentaje [currentProgress]="getMixValue()" (delayStage)="onDelayStage($event)">
  <!-- <app-celda-porcentaje  class="mixType" [currentProgress]="getMixValue()" (delayStage)="onDelayStage($event)"></app-celda-porcentaje> -->
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.terminaCarga | date:'mediumTime'}} </p> -->
  <app-cell-content #terminaCarga [cellValue]="carga.terminaCarga" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.initFacturacion | date:'mediumTime'}} </p> -->
  <app-cell-content #initFacturacion [cellValue]="carga.initFacturacion" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.endFacturacion | date:'mediumTime'}} </p> -->
  <app-cell-content #endFacturacion [cellValue]="carga.endFacturacion" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.salidaRDC | date:'mediumTime'}} </p> -->
  <app-cell-content #salidaRDC [cellValue]="carga.salidaRDC" [allow]="true" [inicio]="carga.llegadaRDC" (delayStage)="onDelayStage($event)"></app-cell-content>
</td>
<td class="mdl-data-table__cell--non-numeric" [ngClass]="getClassName()">
  <!-- <p>{{carga.llegadaDeposito | date:'mediumTime'}} </p>  -->
  <app-cell-content #llegadaDeposito [cellValue]="carga.llegadaDeposito" [allow]="true" [inicio]="carga.llegadaRDC"></app-cell-content>
</td>
<!-- <td class="mdl-data-table__cell--non-numeric celdaEstado">
  <app-estado #estado [status]="rowStatus"></app-estado>
</td> -->