
<table class="table table-dark table-striped tablaCargas">
  <thead>
      <tr>
          <th class="celdaCamion"> </th>
          <th><p>Andén</p></th>
          <th><p>Llegada a RDC</p></th>
          <th><p>Enrampe</p></th>
          <th><p>Comienza de carga</p></th>
          <th class="celdaPorcentaje"><p>FULL</p></th>
          <th class="celdaPorcentaje"><p>MIX</p></th>
          <th><p>Termina Carga</p></th>
          <th><p>Comienza Facturación</p></th>
          <th><p>Termina Facturación</p></th>
          <th><p>Sale de RDC</p></th>
          <th><p>Llegada a déposito</p></th>
          <th><p>STATUS</p></th>
      </tr>
  </thead>
  <tbody app-carga>
      
  </tbody>
</table>