<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp tablaCargas">
  <thead>
      <tr>
          <th class="mdl-data-table__cell--non-numeric"> </th>
          <th class="mdl-data-table__cell--non-numeric"><p>Andén</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Llegada a RDC</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Enrampe</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Comienza de carga</p></th>
          <th class="mdl-data-table__cell--non-numeric celdaPorcentaje"><p>FULL</p></th>
          <th class="mdl-data-table__cell--non-numeric celdaPorcentaje"><p>MIX</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Empieza Carga</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Termina Carga</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Comienza Facturación</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Termina Facturación</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Sale de RDC</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>Llegada a déposito</p></th>
          <th class="mdl-data-table__cell--non-numeric"><p>STATUS</p></th>
      </tr>
  </thead>
  <tbody app-carga>
  </tbody>
</table>