<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp tablaCargas">
  <thead>
      <tr>
          <th class="mdl-data-table__cell--non-numeric"> </th>
          <th class="mdl-data-table__cell--non-numeric">Andén</th>
          <th class="mdl-data-table__cell--non-numeric">Llegada a RDC</th>
          <th class="mdl-data-table__cell--non-numeric">Enrampe</th>
          <th class="mdl-data-table__cell--non-numeric">Comienza de carga</th>
          <th class="mdl-data-table__cell--non-numeric celdaPorcentaje">FULL</th>
          <th class="mdl-data-table__cell--non-numeric celdaPorcentaje">MIX</th>
          <th class="mdl-data-table__cell--non-numeric">Empieza Carga</th>
          <th class="mdl-data-table__cell--non-numeric">Termina Carga</th>
          <th class="mdl-data-table__cell--non-numeric">Comienza Facturación</th>
          <th class="mdl-data-table__cell--non-numeric">Termina Facturación</th>
          <th class="mdl-data-table__cell--non-numeric">Sale de RDC</th>
          <th class="mdl-data-table__cell--non-numeric">Llegada a déposito</th>
          <th class="mdl-data-table__cell--non-numeric">STATUS</th>
      </tr>
  </thead>
  <tbody app-carga>
  </tbody>
</table>