  <!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" disabled>
    <!--<i class="material-icons">add</i> -->
  <!--</button>-->
 
 <!-- <div *ngIf="show; then thenBlock; else elseBlock">this is ignored</div>
    <ng-template #primaryBlock>Primary text to show</ng-template>
    <ng-template #secondaryBlock>Secondary text to show</ng-template>
    <ng-template #elseBlock>Alternate text while primary text is hidden</ng-template> -->
    <div *ngIf="status; else elseBlock"><div class="mdl-chip__contact mdl-color--green"></div></div>
    <ng-template #elseBlock><div class="mdl-chip__contact mdl-color--red"></div></ng-template>

    
