<div class="content-grid mdl-grid">
    <!-- 
    <div class="reloj">
        <h4>
            <a href="https://www.zeitverschiebung.net/es/city/3435910"> Buenos Aires, Argentina</a>
        </h4>
        <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FArgentina%2FBuenos_Aires"
            width="100%" height="90" frameborder="0" seamless></iframe>
    </div> -->

    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table full-width mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Camion</th>
                    <th>Andén</th>
                    <th>Llegada a RDC</th>
                    <th>Enrampe</th>
                    <th>Comienza de carga</th>
                    <th>FULL</th>
                    <th>MIX</th>
                    <th>Termina Carga</th>
                    <th>Comienza Facturación</th>
                    <th>Termina Facturación</th>
                    <th>Sale de RDC</th>
                    <th>Llegada a déposito</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody app-carga></tbody>
        </table>
    </div>
</div>