.full-width {
    width: 100%;
    table-layout:fixed;
}
tr th{
    text-align: center;
    vertical-align: middle;
    white-space: initial;
}
.border-bottom{
    border-bottom: 1px solid rgb(165, 165, 165);
}
.border-r{
    border-right: 1px solid  rgb(165, 165, 165);
}
