.full-width {
    width: 100%;
    /* table-layout:fixed; */
}
tr th{
    text-align: center;
    vertical-align: middle;
    white-space: initial;
    font-size: 14px;
    color: rgb(223, 223, 223);
}
.border-bottom{
    border-bottom: 1px solid rgb(110, 110, 110);
}

.date{
    font-size: 27px;
    padding: 5px;
    display: inline-flex;
    font-weight: bold;
}

.mdl-data-table tbody tr{
    height: 30px;;
}
.mdl-data-table{
    margin-top: 1%;
    border: 1px solid rgba(0,0,0,.12);
    border-width: 0 0 1px 0;
}
.logo{
    position: absolute;
    z-index: 10;
}

