div{
    height: 35px;
}
.percent-block{
    display: inline-block;
    width: 50%;
}
.percent-content{
    display: block;
    padding-top: 7px;
}
.right-border{
    box-sizing: border-box;
    border: solid rgb(110, 110, 110);
    border-width: 0px 1px 0px 0px;
}