<!--<td id="full" class="mdl-progress mdl-js-progress" style="width:100px"></td>-->
<!--<div class="progress" style="width:100px">
        <div class="progress-bar progress-bar-success" style="background-color: blue; width:24%">24%

        </div>
</div>-->
<!--<div> {{currentProgress}}</div>
-->
<!-- 'font-size': '20px' -->
<div style="width:100px; background:white;border:1px solid">
        <div class="contenido" (click)="stop()" style="background:rgb(45, 214, 45);text-align:center " [style.width]="currentProgress + '%'">
                       {{currentProgress}}%
        </div>
</div>